<div class="content">
	<div class="header">	
	  <a class="back-button fa fa-chevron-left" href="/classes/<%= classroom.id %>"></a>    
	  <div class="survey-name"><%= survey.get("name") %></div>
    <div class="clear"></div>
  </div>
  <div class="subheader">
	  <div class="block">
		  <div class="value"><%= survey.get("taken") %></div>
		  <div class="title">TAKEN</div>
	  </div>
	  <div class="block">
      <% if(survey.get("state") == 1) { %>
      	<div class="value blue">SURVEYING</div>
      <% } else { %>
        <div	class="value green">COMPLETED</div>
      <% } %>
		  <div class="title">STATE</div>
	  </div>
	  <div class="block">
		  <div class="value"><%= survey.get("sent") %></div>
		  <div class="title">SENT</div>
	  </div>
	  <div class="clear"></div>
  </div>
  <% if(survey.get("taken") > 0) { %> 
	  <div class="graph">
		  <div class="line">
			  <% questions.forEach(function(question) {
				  var max = question.get("bad") + question.get("good")
				  var bad = Math.floor(((question.get("bad")/max) * 100) || 0)
					var good = Math.ceil(100 - bad)
			  %>
			  	<% if(max > 0) { %>
				  	<div class="set">	    
							<div class="slider" style='margin-left: <%= good/2 %>%;'>
								<div class="tag"><%= question.get("tag") %></div>
							  <div class="item bad" style='width: <%= bad %>%;'></div>
								<div class="item good" style='width: <%= good %>%; left: <%= bad %>%'></div>
								<div class="clear"></div>
						  </div>
				  	</div>
				  <% } %>
			  <% }) %>
		  </div>
	  </div>
  <% } else { %>
		<div class="screen-message small">
      <div class="message">
        No Data Available Yet
      </div>
      <div class="submessage">
	      STUDENT SURVEY URL<br>
		  	<a href="/surveys/<%= survey.get("code") %>" target="_blank">
		  		<%= host %>/surveys/<%= survey.get("code") %>
		  	</a>
      </div>
      <a class="new-button" href="<%= path %>">Reload page</a>
    </div>
	<% } %>
  <table class="viewer-table">
    <thead>
      <tr>
	      <td></td>
        <td>Tag (represented in graphs)</td>
        <td>Question (shown to student)</td>
        <td>Positive</td>
        <td>Negative</td>
      </tr>
    </thead>
    <tbody>
	  	<% questions.forEach(function(question, index) { 
		  	var max = question.get("bad") + question.get("good")
				var bad = Math.floor(((question.get("bad")/max) * 100) || 0)
				var good = Math.ceil(((question.get("good")/max) * 100) || 0)
	  	%>		    
				<tr data-question="<%= question.id %>">
					<td><%= index + 1 %>)</td>
					<td><%= question.get("tag") %></td>
					<td><%= question.get("question") %></td>
					<td class="green"><%= good %>%</td>
					<td class="red"><%= bad %>%</td>
				</tr>
		  <% }) %>
    </tbody>
  </table>
</div>
