<% include ../includes/start.ejs %>
<div class="container">
	<div class="header"><%= survey.get("name") %></div>
	<div class="subheader"><%= classroom.get("name") %></div>
	<form class="form" action="<%= path %>">
		<% questions.forEach(function(question) { %>
			<div class="item" data-question="<%= question.id %>">
				<div class="question"><%= question.get("question") %></div>
				<div class="selectors">
					<div class="selector down fa fa-thumbs-down" data-score="-1"></div>
					<div class="selector up fa fa-thumbs-up" data-score="1"></div>
					<input type="hidden" class="score"/>
				</div>
				<div class="clear"></div>
			</div>
		<% }) %>
		<button type="submit" class="button" disabled>
			SEND TO TEACHER
			<span class="fa fa-arrow-right"></span>
		</button>
	</form>
</div>
<% include ../includes/end.ejs %>
