<div class="header">
  <a href="/classes/<%= classroom.id %>" class="logo"><%= siteName %></a>
  <div class="banner">
			Classroom Code: 
			<span><%= classroom.get("code") %></span>
	</div>
  <div>
	  <div class="profile">
	    <div class="user"><%= user.get("name") %></div>
	    <div class="arrow fa fa-chevron-down"></div>
	    <div class="clear"></div>
	    <div class="dropdown">
		    <div class="container">
	      	<a href="/logout">Sign Out</a>
		    </div>
	    </div>
	  </div>
	  <div class="profile">
	    <div class="user">Class: <%= classroom.get("name") %></div>
	    <div class="arrow fa fa-chevron-down"></div>
	    <div class="clear"></div>
	    <div class="dropdown">
		    <div class="container">
		      <% classes.forEach(function(temp) { %>
			      <a href="/classes/<%= temp.id %>"><%= temp.get("name") %></a>
			    <% }) %>
		    </div>
	    </div>
	  </div>
	  <div class="navigation">
			<a href="/classes/new">Create Classroom</a>
		</div>
  </div>
  <div class="clear"></div>
</div>
